<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download work</title>
</head>
<body>
<h2>Archived copies</h2>
<a href="{{ newest_work.permalink_url }}">Most recent archive ({{ newest_work.format }} format) - {{ newest_work.formatted_upload }}</a>
<br><br>
<i>Older archived works may take a while to download as the archives are architected to prioritize space savings over access speed. Please be patient</i>
<br>
<br>
{% for work in work_history %}
    <a href="{{ work.permalink_url }}">{{ work.formatted_upload }} ({{ work.format }} format)</a>
    <br>
{% endfor %}
<br>
<i>The servers where recently completely re-architected. Please report any issues you encounter to mail@ao3saver.com</i>

</body>
</html>